.dialog-container {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 450px;

  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.title .prescription {
  color: #b91c1c;
}
.input {
  width: 100%;
  margin-bottom: 1.2rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  font-size: 1rem;
  background: #f3f4f6;
}
.input.disabled {
  background: #d1d5db;
  color: #222;
  font-weight: 500;
}
.add-btn {
  width: 100%;
  background: #047857 !important;
  color: #fff !important;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}
.cancel-btn {
  width: 100%;
  color: #222 !important;
  border: 1px solid #d1d5db !important;
  background: #fff !important;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}
