<app-header></app-header>
<div class="dashboard-container">
    <div class="dashboard-controls">
        <mat-form-field >
            <mat-label>Search</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Search by name, email, or specialty">
        </mat-form-field>
        <mat-form-field >
            <mat-label>Sort by Time</mat-label>
            <mat-select [formControl]="timeFilter">
                <mat-option value="">All Times</mat-option>
                @for (t of times; track t) {
                <mat-option [value]="t">{{ t }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Filter by Specialty</mat-label>
            <mat-select [formControl]="specialtyFilter">
                <mat-option value="">All Specialties</mat-option>
                @for (s of specialties; track s) {
                <mat-option [value]="s">{{ s }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dashboard-cards">
        @for (doc of doctors(); track doc.id) {
        <mat-card class="doctor-card">
            <mat-card-title>{{ doc.name }}</mat-card-title>
            <mat-card-content>
                <div><b>Specialty:</b> {{ doc.specialty }}</div>
                <div><b>Email:</b> {{ doc.email }}</div>
                <div><b>Available:</b>
                    @for (t of doc.availableTimes; let i = $index; track t) {
                    {{ formatTimeRange(t) }}
                    @if(i < doc.availableTimes.length - 1) {<span>, </span>}
                        }
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button matButton="filled" mat-raised-button color="primary" (click)="openBookDialog(doc)">Book Now</button>
            </mat-card-actions>
        </mat-card>
        }
    
    </div>
</div>